@charset "UTF-8";

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.map,
.info,
.handle {
	flex: 1 1 30%;
}

header {
	padding: 10px 0;
	margin-bottom: 20px;
}

header h1 {
	width: 80%;
	margin: 0 auto;
}

header h1 a {
	color: #000;
	text-decoration: none;
}

header h1 a:hover {
	color: #000;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

/*
 * map.jsp
 */
.map table {
	border-collapse: collapse;
}
.map td {
	width: 30px;
	height: 30px;
	border: solid 1px #aaa;
}

/*
 * handle.jsp
 */
.movebtn-area {
	width: 80px;
	margin: 0 auto;
}
.up-btn {
	text-align: center;
}
.lr-btn {
	display: flex;
	justify-content: space-between;
}
.down-btn {
	text-align: center;
}
.player-inventory ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}
.player-inventory li {
	margin-left: 10px;
}