@charset "UTF-8";

body, p, h1, h2, h3, ul {
	margin: 0;
}
ul {
	padding: 0;
	list-style-type: none;
}
a {
	color: #000;
}
a:hover {
	color: #555;
}
.center-align {
	width: 70%;
	margin: 0 auto;
}
.error {
	color: red;
}
header {
	background-color: pink;
	padding: 10px 0;
	margin-bottom: 20px;
}
header h1 a {
	color: #000;
	text-decoration: none;
}
header h1 a:hover {
	color: #000;
}
footer {
	background-color: pink;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.container {
	display: flex;
	justify-content: space-between;
}
main {
	margin-bottom: 50px;
}
aside h2 {
	margin-bottom: 10px;
}
aside li {
	margin-bottom: 10px;
}
.input-area {
	width: 350px;
}
.button-area {
	display: flex;
	justify-content: right;
}
.button-area div {
	margin-left: 10px;
}
