@charset "UTF-8";

table {
	border-collapse: collapse;
	margin: 10px 0;
}
th, td {
	border: solid 1px #ddd;
	padding: 5px 8px;
}
th {
	background-color: #efefef;
	text-align: left;
}

.no-border {
	border: none;
	padding: 5px 0 5px 8px;
}
.no-bkcolor {
	background-color: transparent;
}
.no-button {
	border: none;
	background-color: transparent;
	text-decoration: underline;
	cursor: pointer;	
}
.no-button:hover {
	color: #555;
}